<div id="login">LOGIN:

		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash-#{name}" %>
		<% end %>	

<%= form_tag( authentificate_url ) do %>
	<%= text_field_tag :email, nil , :class => "login-field" %>
	<%= password_field_tag :password, nil , :class => "login-field"%>
	<%= submit_tag('Login') %>
<% end %>

</div>
