<%= form_for(@experience, :html => {:id => "experience-form"} ) do |f| %>

  <% if @experience.errors.any? %>
    <div id="form-error">
      <div><%= pluralize(@experience.errors.count, "error", "errores") %>:</div>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="experience-form-text-data">
    <div class='text-field-container'>
      <%= f.text_field :title, :placeholder => 'Título' %>
    </div>
    <div class="multi-field">
      <%= f.text_field :place, placeholder: 'Lugar' %>
      <%= f.text_field :time, placeholder: 'Fecha' %>  
    </div>
    <div class="text-area-container">
      <%= f.text_area :description, :placeholder => 'Descripción'  %>
    </div>

  </div><div id="experience-form-media-data">
  </div>
   <%= f.submit %>
<!-- 
  <div class="">
  </div>
  <div class="field">
    <%= f.text_area :description, :placeholder => 'Descripción'  %>
  </div>
  <div class="field">
      <%= f.fields_for :media do |media_form| %>
      <div id="special">
        <%= media_form.label :title  %> <br>
        <%= media_form.text_field :title %> <br>

        <%= media_form.label :description %> <br>
        <%= media_form.text_area :description %> <br>

        <%= media_form.label :file %> <br>
        <%= media_form.file_field :file %> <br>

        <%= media_form.label :time %> <br>
        <%= media_form.date_field :time %> <br>

        <%= media_form.label :place %> <br>
        <%= media_form.text_field :place %> <br>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.text_field :place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
