<% if @experience.errors.any? %>
    <div id="form-error">
      <div><%= pluralize(@experience.errors.count, "error", "errores") %>:</div>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(@experience, :html => {:id => "experience-form"} ) do |f| %>

  <div id="experience-form-text-data">

    <div class='text-field-container'>
      <%= f.text_field :title, :placeholder => 'Título' %>
    </div>
    <div class="multi-field">
      <%= f.text_field :place, placeholder: 'Lugar' %>
      <%= f.text_field :date, placeholder: 'Fecha' %>  
    </div>
    <div class="text-area-container">
      <%= f.text_area :description, :placeholder => 'Descripción'  %>
    </div>


  </div>

  <div id="experience-form-media-data">
    <%#= image_tag "imgTag" , id: "img-tag" %>
    <%#= file_field_tag "image-input" , id: 'cicme' %>
    <%= link_to "Agregar foto", "#" , id: 'photo-adder'%>

    <div id="experience-form-photos">

      <div class="photo-as-list" style="display:none">
        <img id="img-tag-0" src="">
        <div class="photo-options">
          <%= f.fields_for :photos do |p| %>
            <%= p.file_field :file, class: 'file-field'%>
            <%#= p.text_area :description %>
           <% end %>
        </div>
      </div>

 



      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <%#= link_to_add_association 'add task', f, :photos,
        :class => 'photo-as-list',
        :'data-association-insertion-method' => 'after',
        :'data-association-insertion-node' => 'this'
      %>
    </div>

      <%= f.submit "Crear experiencia", :id => 'submit-experience' %>

  </div>


<% end %>
