<% if @experience.errors.any? %>
    <div id="form-error">
      <div><%= pluralize(@experience.errors.count, "error", "errores") %>:</div>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(@experience,  :html => {:id => "experience-form", :multipart => true} ) do |f| %>

  <div id="experience-form-text-data">

    <div class='text-field-container'>
      <%= f.text_field :title, :placeholder => 'Título' %>
    </div>
    <div class="multi-field">
      <%= f.text_field :place, placeholder: 'Lugar' %>
      <%= f.text_field :date, placeholder: 'Fecha' %>  
    </div>
    <div class="text-area-container">
      <%= f.text_area :description, :placeholder => 'Descripción'  %>
    </div>
    <div class='text-field-container'>
      <%= f.text_field :sphere, :placeholder => 'iframe' %>
    </div>


  </div>

  <div id="experience-form-media-data">

    <%= link_to "Agregar foto", "#" , id: 'photo-adder'%>

    <div id="experience-form-photos">

      <%= f.fields_for :photos do |p| %>
        <div class='photo-as-list'>
          <img id="img-tag" src='<%= p.object.file %>'>
          <div class='remove-existent'>
            <%= p.hidden_field :_destroy %>
          </div>
          <div class='photo-options'>
            <%= p.file_field :file, accept: "image/png,image/gif,image/jpeg" ,class: 'file-field'%>
          </div>
        </div>
      <% end %>
    
      <%= echo_spacers(4) %>
    </div>

    <%= f.submit edit_mode ? 'Guardar cambios' : 'Crear Experiencia' , :id => 'submit-experience' %>
  </div>
<% end %>
