<section id="experiences-page">

<div class="column">
  <h1>Nuestra experiencia.</h1>
  <h2>Proyectos terminados y <br> casos de éxito.</h2>
</div>

<div id="experiences">

  <% @experiences.reverse.each do |exp| %>
    <%= link_to exp , class: 'experience-as-list' do %>
      <div class="info">
        <div class="title"><%= exp.title %></div>
        <div class="place"><%= exp.place %></div>
        <hr><div class="date"><%= exp.date %></div>
      </div>
      
      <div class="image" style="background-image: url(' <%= photo_from_experience(exp) %> ') "></div>
    <% end %>
  <% end %>
    <!-- SPACERS -->
  <%= echo_spacers(4) %>

</div>

</section>