<section id="page-section-1">
  <div class="page-image-background"></div>
  <div class="page-color-overlay">
    <div class="centered">
      <h1 class="animated fadeIn">Servicios Integrales de Ingeniería</h1>
      <h2 class="animated fadeIn">Civil, conceptual, de detalle, construcción, estudios y consultoría.</h2>
    </div>
  </div>
      <svg id="arrow" class="animated infinite pulse" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
      <polyline points="1,4 5,8 9,4" />
    </svg>
</section>

<!-- ****************************************** Servicios ***************************************** -->

<section id="page-section-2">
  <svg class="poly-background" preserveAspectRatio="none" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1">
      <g>
         <clipPath id="poly-mask">
            <polygon points="0,0 0,10 10,10 10,0 5,1" />
         </clipPath>
      </g> 
  
      <rect class="left" clip-path="url(#poly-mask)" width="50%" height="100%" />
      <rect class="right" clip-path="url(#poly-mask)" x="50%" width="50%" height="100%" />
  </svg>

  <div class="left-column">
    <div class="content">
      <h1><span>Proyectos</span> arquitectónicos y de ingeniería.</h1>
      <div class="animated-image"></div>
      <p>
        <span>Vías terrestres:</span> <br> Caminos, puentes, pavimentación, terracerías
        <br>
      </p>
        <p><span>Infraestructura hidráulica y de saneamiento:</span> Agua potable, alcantarillado pluvial y sanitario, plantas de tratamiento residuales
        <br>
      </p>
      <p>
        <span>Espacios</span> públicos, deportivos y culturales
        <br>
        <span>Vivienda</span> y otros.
      </p>
    </div>
  </div>
  <div class="right-column">
    <div class="content">
      <h1><span>Asesoría</span> técnica y consultoría.
      </h1>
      <div class="animated-image"></div>
      <p><span>Asesoría a municipios</span>, elaboración de expedientes técnicos, topografía, dirección responsable de obra, <span>mantenimiento y rehabilitación</span>, presupuestos.</p>
    </div>
  </div>
</section>

<!-- ****************************************** Nosotros ***************************************** -->

<section id="page-section-3">
<div class="page-image-background"></div>

  <div id="us">
    <div class="centered">
      <h1>Nosotros.</h1>
      <p>Somos una empresa mexicana, que busca que el gasto en obras públicas sea eficiente y logre el mayor beneficio a las sociedades. Esto lo logramos con proyectos integrales, desde planeación de presupuestos, a consultoría en el desarrollo de la obra.</p>
    </div>
  </div>

  <svg class="poly-background" preserveAspectRatio="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1">
      <polygon points="0,5 0,20 20,20 20,6.8" />
  </svg>

  <div id="mision">
    <h2>Misión</h2>
    <div class="centered">
      <p>Ser una empresa competitiva a nivel estatal que ejecute proyectos integrales enfocados a lograr la satisfacción de nuestros clientes, empleados y sociedad beneficiada.</p>
    </div>
  </div>

  <div id="vision">
    <h2>Visión</h2>
    <div class="centered">
      <p>Desarrollar proyectos rentables fundamentados en la capacidad técnica de la empresa y el personal altamente preparado, que trabaje con ética profesional, calidad y seguridad, proporcionando certeza y valor agregado a nuestros clientes. </p>
    </div>

  </div>

  <div id="values">
    <div class="centered">
      <h2>Valores</h2>
      <p>
        <span>Trabajo en equipo</span>
        <span>Mejora continua</span>
        <span>Desarrollo de estado</span>
        <span>Seguridad</span>
        <span>Calidad</span>
        <span>Tecnología</span>
        <span>Desarrollo Integral</span>
        <span>Rentabilidad</span>
      </p>
    </div>
  </div>

</section>

<!-- ****************************************** Experiencia ***************************************** -->

<section id="page-section-4">

  <div class="left-column">
    <div class="color-overlay">
      <div class="content">
        <h1>Nuestra experiencia.</h1>
        <h2>Proyectos terminados y <br> casos de éxito.</h2>
        <%= link_to("Toda la experiencia", experiencia_path, id:'all-experience-button') %>
      </div>
    </div>
  </div>

  <div class="right-column">
    <div id="experiences">
      <% @experiences.reverse.take(6).each do |exp| %>
        <%= link_to exp , class: 'experience-as-list' do %>
          <div class="info">
            <div class="title"><%= exp.title %></div>
            <div class="place"><%= exp.place %></div>
            <hr><div class="date"><%= exp.date %></div>
          </div>

          <div class="image" style="background-image: url(' <%= photo_from_experience(exp) %> ') "></div>
        <% end %>
      <% end %>
    </div>
    <%= link_to("Toda la expeiencia", experiencia_path, id:'all-experience-button-mobile') %>
  </div>

</section>

<!-- ****************************************** Contacto ***************************************** -->

<section id="page-section-5">

<div class="page-image-background"></div>

  <div id="contact-info">
    <div class="content centered">
      <h1>Contacto.</h1>
      <p><span>2da.</span> Privada de Independencia No. <span>102</span>,<br>
      San Agustín de las Juntas, Oaxaca. <br>
      C.P. <span>71238</span>
      </p>
      <br>
      <p>Teléfono: (951) 143 8471</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1907.6449081630874!2d-96.70970193685645!3d17.009448539208698!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDAwJzM0LjIiTiA5NsKwNDInMzQuMyJX!5e0!3m2!1sen!2smx!4v1425967848184" style="border:0"></iframe>    
      </div>
  </div>
  <aside id="contact-panel">
    <div class="centered">
      <h2>Escríbenos un <br> mensaje.</h2>
      <%= form_tag mail_path, method: :post, remote: true, id:'mail-form' do %>
        <%= text_field_tag :nombre ,nil, placeholder:'Nombre', class:"contact-text"  %>
        <%= email_field_tag :correo ,nil, placeholder:'Correo electrónico', class:"contact-text"  %>
        <%= text_area_tag :mensaje ,nil, rows: "6", placeholder:'Mensaje', class:'contact-text-area' %>
        <%= submit_tag "Enviar", class: 'submit' %>
      <% end %>
    </div>

  </aside>

</section>

