<!DOCTYPE html>
<html>
<head>
  <title>VHDA Servicios Integrales de Ingeniería</title>

  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div id="nav-logo-container">
    <div id="ribbon">
      <div id="logo"></div>
      <svg viewBox="0 0 10 10" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <polygon points="0,0 0,9 5,10 10,9, 10,0"/>
      </svg>
    </div>
  </div>

<div id="nav-bar">
  <div id="nav-bar-mobile">
      <div class="current-tab"></div>
      <svg id="nav-button"></svg>
  </div>
  <div id="mini-logo"></div>
  <nav id="nav-tabs-container" class="animated fadeIn">
    <%= link_to("Servicios", "#page-section-2 h1", :'data-smooth-scroll' => 'true') %>
    <%= link_to("Nosotros", "#page-section-3", :'data-smooth-scroll' => 'true') %>
    <%= link_to("Experiencia", "#page-section-4", :'data-smooth-scroll' => 'true') %>
    <%= link_to("Contacto", "#page-section-5", :'data-smooth-scroll' => 'true') %>
  </nav>

</div>

<%= yield %>
<footer>
  <div>
    <p>VHDA© 2015 </p>
    <a href="http://www.ment.com.mx" class="logo-ment"></a> 
  </div>
</footer>
</body>
</html>
