<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>

  <title>Experiencia</title>
  
</head>
<body>

<div id="nav-bar-exp">
  <div id="nav-bar-mobile">
      <div class="current-tab"></div>
      <svg id="nav-button"></svg>
  </div>
  <a href="/" id="mini-logo" ></a>
  <nav id="nav-tabs-container" class="animated fadeIn">
    <%= link_to("Servicios", root_path + "#page-section-2") %>
    <%= link_to("Nosotros", root_path + "#page-section-3") %>
    <%= link_to("Experiencia", root_path + "#page-section-4") %>
    <%= link_to("Contacto", root_path + "#page-section-5") %>
  </nav>
</div>

  <%= yield %>
</body>
</html>