<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  <title>Document</title>
  
</head>
<body>


<div id="nav-bar-exp">
  <nav id="nav-tabs-container" class="animated fadeIn">
    <%= link_to("Servicios", "") %>
    <%= link_to("Nosotros", "") %>
    <%= link_to("Experiencia", "", class: 'selected') %>
    <%= link_to("Contacto", "") %>
  </nav>
</div>

  <%= yield %>
</body>
</html>