<!DOCTYPE html>
<html>
<head>
  <title>VHDA - Sistema Administrador</title>

  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="nav-logo-container">
    <%= link_to experiences_path, id: 'mini-ribbon' do %>
      <div id="logo"></div>
      <svg viewBox="0 0 10 10" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <polygon points="0,0 0,9 5,10 10,9, 10,0"/>
      </svg>
    <% end %>
  </div>

<div id="mini-nav-bar">
  <div id="nav-bar-mobile">
      <div class="current-tab"></div>
      <svg id="nav-button"></svg>
  </div>
  <nav id="nav-tabs-container" class="animated fadeIn">
    <%= link_to "Toda la experiencia",experiences_path %>
    <%= link_to("Cerrar sesión", logout_path, method: :delete ) %>
  </nav>
</div>
	<%= yield %>

</body>
</html>
